#pageTitle {
    font-size: 30px;
    margin: auto;
    width: fit-content;
    height: fit-content;
    font-weight: bold;
    margin-bottom: 20px;
}

.cell {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    width: 70px;
    height: 70px;
    border: 2px solid black;
    margin: 0;
}

.symbol {
    font-weight: bold;
}

.atomicWeight {
    font-size: 10px;
}

table {
  border-spacing: 0;
}

#magnesium .name{
    font-size: 14px;
}

#period3Space {
    width: 630px;
    height: 70px;
}

#warpper {
    margin: auto;
    width: fit-content;
    height: fit-content;
}

form {
    margin: 20px auto;
    width: fit-content;
    height: fit-content;
}