#pageTitle {
    font-size: 30px;
    margin: auto;
    width: fit-content;
    height: fit-content;
    font-weight: bold;
    margin-bottom: 20px;
}

.cell {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    width: 70px;
    height: 70px;
    border: 2px solid black;
    margin: 0;
    transition: all .3s ease-in-out;
}

.symbol {
    font-weight: bold;
}

.atomicWeight {
    font-size: 10px;
}

table {
  border-spacing: 0;
}

#magnesium .name{
    font-size: 14px;
}

#period3Space {
    width: 630px;
    height: 70px;
}

#LanthanideSpace {
    background-color: lightgray;
}

#ActinideSpace {
    background-color: lightgray;
}

#warpper {
    margin: auto;
    width: fit-content;
    height: fit-content;
}

form {
    margin: 20px auto;
    width: fit-content;
    height: fit-content;
}

.cell:hover {
    transform: scale(1.5);
    background-color: honeydew;
}

.Alkali {
    background-color: red;
}

.Earth {
    background-color: yellow;
}

.Transition {
    background-color: palevioletred;
}

.Semi {
    background-color: palegreen;
}

.Basic {
    background-color: lightskyblue ;
}

.Nonmetal {
    background-color: green;
}

.Halogen {
    background-color: blue;
}

.NobleGas {
    background-color: orange;
}