@import url('https://fonts.cdnfonts.com/css/twentieth-television');

body{
    font-family: 'Twentieth Television', sans-serif;
    background-color: honeydew;
}

#pageTitle {
    font-size: 30px;
    margin: auto;
    width: fit-content;
    height: fit-content;
    font-weight: bold;
    margin-bottom: 20px;
}

.cell {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    width: 68.5px;
    height: 68.5px;
    border: 2px solid black;
    margin: 0;
    box-shadow: none;
    transition: all .4s ease-in-out;
    font-family: 'Times New Roman', Times, serif;
}

.symbol {
    font-weight: bold;
    font-size: 18px;
    font-family: 'Twentieth Television', sans-serif;
}

td {
    font-size: 13px;
}

.atomicWeight {
    font-size: 10px;
}

table {
  border-spacing: 0;
}

#period3Space {
    width: 630px;
    height: 70px;
}

#warpper {
    margin: auto;
    width: fit-content;
    height: fit-content;
}

#phosphorus .name{
    font-size: 14.5px;
}

#manganese .name{
    font-size: 15px;
}

#molybdenum .name{
    font-size: 12.5px;
}

#technetium .name {
    font-size: 15px;
}

#magnesium .name{
    font-size: 14px;
}

#rutherfordium .name {
    font-size: 12px;
}

#seaborgium .name {
    font-size: 14.5px;
}

#meitnerium .name {
    font-size: 14.5px;
}

#darmstadtium .name {
    font-size: 12px;
}

#roentgenium .name {
    font-size: 13.5px;
}

#copernicium .name {
    font-size: 13.5px;
}

#moscovium .name {
    font-size: 14px;
}

#livermorium .name {
    font-size: 13.5px;
}

#germanium .name {
    font-size: 15px;
}

form {
    display: flex;
    justify-content: center;
    margin: 20px auto;
    width: fit-content;
    height: fit-content;
}

.cell:hover {
    transform: scale(1.5);
    box-shadow: rgba(17, 12, 46, 0.15) 0px 48px 100px 0px;
    background-color: honeydew;
}

.Alkali {
    background-color: red;
}

.Earth {
    background-color: yellow;
}

.Transition {
    background-color: palevioletred;
}

.Lanthanoid {
    background-color: lightsalmon;
}

.Actinide {
    background-color: lightpink;
}

.Semi {
    background-color: palegreen;
}

.Basic {
    background-color: lightskyblue ;
}

.Nonmetal {
    background-color: green;
}

.Halogen {
    background-color: blue;
}

.NobleGas {
    background-color: orange;
}

input[type="radio"] {
    position: absolute;
    opacity: 0;
    width: 0;
    height: 0;
  }

  input[type="radio"] + span {
    cursor: pointer;
    padding: 0.5rem;
    border-radius: 0.5rem;
    border: 1px solid #ccc;
  }

  input[type="radio"]:checked + span {
    background-color: #ccc;
  }

  #transitionSpace {
    width: 100%;
    height: 10px;
  }